* {
    color: #444444;
  /* font-family: 'Merriweather'; */
}

h1 {
    color: green;
    font-size: 36;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

h3 {
    color: #666666;
}